@import './../abstracts/mixins';
@import './../abstracts/variables';

.info-section {
    background-color: $secondary-background;
    padding: 7.3rem 0 10.3rem 0;
    .info-container {
        @include flex();
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .info {
            &__cards {
                @include flex();
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                min-width: 42rem;
                background: {
                    image: url('../../media/path2.svg');
                    size: 77%;
                    repeat: no-repeat;
                    position: center;
                }

                &--home {
                    position: relative;
                    z-index: 2;
                    width: 190px;
                    -webkit-box-shadow: -1.4rem 1.4rem 2.8rem 0 rgba(33, 34, 64, 0.16);
                            box-shadow: -1.4rem 1.4rem 2.8rem 0 rgba(33, 34, 64, 0.16);
                    border-radius: 2rem;
                    -webkit-transform: rotate3d(84, 53, 14, -39deg) skew(2deg, -11deg) translate(20px, 20px);
                            transform: rotate3d(84, 53, 14, -39deg) skew(2deg, -11deg) translate(20px, 20px);
                }
                
                &--incidents {
                    position: absolute;
                    z-index: 1;
                    width: 180px;
                    -webkit-box-shadow: -1.4rem 1.4rem 2.8rem 0 rgba(33, 34, 64, 0.16);
                            box-shadow: -1.4rem 1.4rem 2.8rem 0 rgba(33, 34, 64, 0.16);
                    border-radius: 2rem;
                    -webkit-transform: rotate3d(84, 53, 14, -39deg) skew(2deg, -11deg) translate(43px, 26px);
                            transform: rotate3d(84, 53, 14, -39deg) skew(2deg, -11deg) translate(43px, 26px);
                }
                
                &--topup {
                    position: absolute;
                    z-index: 0;
                    width: 170px;
                    -webkit-box-shadow: -1.4rem 1.4rem 2.8rem 0 rgba(33, 34, 64, 0.16);
                            box-shadow: -1.4rem 1.4rem 2.8rem 0 rgba(33, 34, 64, 0.16);
                    border-radius: 2rem;
                    -webkit-transform: rotate3d(84, 53, 14, -39deg) skew(2deg, -11deg) translate(66px, 36px);
                            transform: rotate3d(84, 53, 14, -39deg) skew(2deg, -11deg) translate(66px, 36px);
                }
            }

            &__tabs {
                max-width: 60rem;
                .navigation {
                    min-width: 30rem;
                    ul {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                                justify-content: space-between;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        text-align: center;
                        min-height: 9rem;
                        li {
                            list-style-type: none;
                            font-size: 18px;
                            min-width: 17.6rem;
                            padding: 8px 0;
                            font-family: 'medium';
                            background: $primary-background;
                            border-radius: 2rem;
                            cursor: pointer;

                            &.react-tabs__tab--selected {
                                background: $button-background;
                                color: $secondary-text-color;
                            }
                        }
                    }

                    .react-tabs__tab-panel {
                        color: $tabs;
                        h2 {
                            @include FontMedium();
                            font-size: 2.4rem;
                            line-height: 4rem;
                            text-align: left;
                            margin-bottom: 1.6rem;
                        }

                        p {
                            @include FontRegular();
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 2.4rem;
                            width: 48.8rem;
                            text-align: left;  
                        }
                    }
                }
            }
        }
    }
}