@font-face {
    font-family: 'book';
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'medium';
    src: url('../fonts/HelveticaNeueMed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/HelveticaNeueBd.ttf') format('truetype');
    font-weight: 600;
    font-style: bold;
}
