@mixin flex {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

$fallbackfonts: sans-serif;

@mixin FontRegular {
    font-family: 'book', $fallbackfonts;
}

@mixin FontMedium {
    font-family: 'medium', $fallbackfonts;
}

@mixin FontBold {
    font-family: 'bold', $fallbackfonts;
}
